.city__link {
    width: 355px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 13px 20px;
    background: #0278FE;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

    .city__link:hover {
        background: #0063D2;
        border-radius: 4px;
    }

    @media screen and (max-width: 320px) {
      .city__link {
      width: 288px;
      font-size: 14px;
      line-height: 17px;

      }
    }
