.places {
 display: grid;
 justify-items: center;
}

@media screen and ( max-width: 768px) {
  .places {
    display: flex;
    flex-wrap: wrap;
    margin-left: 24px;
    margin-right: 11px;
    }
}

@media screen and ( max-width: 320px) {
  .places {
    align-items: center;
    margin: 0;
    }
}
