.introduction__paragraph-quote {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.125rem;
    color: #FFFFFF;
    max-width: 722px;
}

@media screen and ( max-width: 320px) {
  .introduction__paragraph-quote {
    max-width: 288px;
    line-height: 1.875rem;
  }
}
