body {
  background-color: #2A2C2F;
}
@media screen and ( max-width: 768px) {

  /* header */
  .header {
    display: grid;
    justify-items: center;
    }

  .header__title {
    max-width: 720px;
  }

  .header__subtitle {
    max-width: 720px;
  }
  .header__image {
    max-width: 768px;
  }

  /* introduction */
  .introduction__title {
    width: 720px;
  }

  /* gallery */
  .gallery {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .gallery__image {
    max-width: 352px;
    min-height: 264px;
  }

/* places */
.places {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 }
.places__title {
  width: 340px;
  font-size: 42px;
  line-height: 46px;
}
.places__image {
  width: 340px;
  height: 340px;
}
.places__paragraph-artist {
  width: 365px;
}
.places__paragraph {
  width: 352px;
  font-size: 16px;
}
.places__text-conteiner {
  grid-row: 2 / 5;
}
/* novo hamburgo */
.novo_hamburgo__text-conteiner {
  grid-row: 2 / 4;
}
.novo_hamburgo {
  width: 733px;
  grid-column-gap: 28px;
}

/* kiev */
.kiev {
  width: 733px;
  grid-column-gap: 28px;
}

/* criccieth */
.criccieth__title {
  width: 340px;
  font-size: 42px;
  line-height: 46px;
}
.criccieth {
  width: 733px;
  grid-column-gap: 28px;
}
.criccieth__text-conteiner {
  grid-row: 2 / 5;
}

/* berea */
.berea {
  width: 733px;
  grid-column-gap: 28px;
}

/* muramvya */
.muramvya {
  width: 733px;
  grid-column-gap: 28px;
}

/* visit */

.visit__image{
  width: 768px;
  height: 746px;
}
.visit__link {
  width: 191px;
 text-align: center;
}
.visit__overley{
  width: 768px;
  height: 746px;
}

}

