.city__title-place{
    max-width: 484px;
    font-style: normal;
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 4.75rem;
    color: #FFFFFF;
}

@media screen and ( max-width: 768px) {
  .city__title-place {
    max-width: 340px;
    font-size: 2.625rem;
    line-height: 2.875rem;
  }
}

@media screen and ( max-width: 320px) {
  .city__title-place {
    max-width: 288px;
    font-size: 2rem;
    line-height: 2.187rem;
    display: grid;
    grid-column: 1;
    grid-row: 1;

  }
}
