.introduction__title {
    font-style: normal;
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 3.625rem;
    color: #FFFFFF;
    max-width: 1017px;
    margin-top: 92px;
    margin-bottom: 40px;
}

@media screen and ( max-width: 768px) {
  .introduction__title {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and ( max-width: 320px) {
  .introduction__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-top: 44px;
    margin-bottom: 9px;
  }
}
