.header {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

@media screen and ( max-width: 768px) {
  .header {
    display: grid;
    justify-items: center;
    }
}
