.introduction__paragraph-author {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    max-width: 720px;
    display: flex;
    flex-direction: row-reverse;
    margin-top: -24px;
}

@media screen and ( max-width: 320px) {
  .introduction__paragraph-author {
    width: 288px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 18px;
  }
}
