.city__discription-artist {
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.375rem;
    max-width: 456px;
    color: #FFFFFF;
    }

    @media screen and ( max-width: 768px) {
      .city__discription-artist {
        max-width: 365px;
      }
    }
    @media screen and ( max-width: 320px) {
      .city__discription-artist {
      max-width: 288px;
      }
    }
