.city__discription-artist {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 456px;
    color: #FFFFFF;
    margin: 0;
    }

    @media screen and ( max-width: 768px) {
      .city__discription-artist {
        width: 365px;
      }
    }
    @media screen and ( max-width: 320px) {
      .city__discription-artist {
      width: 288px;
      }
    }
