.city__discription-artist {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 456px;
    color: #FFFFFF;
    margin: 0;
    }

    @media screen and ( max-width: 768px) {
      .city__discription-artist {
        width: 365px;
      }
    }
