.city__discription-place {
    width: 484px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    /* or 29px */
    color: #FFFFFF;
    margin: 0;
    }

    @media screen and ( max-width: 768px) {
      .city__discription-place {
        width: 352px;
        font-size: 16px;
      }
        }

        @media screen and ( max-width: 320px) {
          .city__discription-place {
          width: 288px;
          }
        }
