.introduction__paragraph-brief {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #FFFFFF;
    max-width: 720px;
    margin-top: 32px;
    margin-bottom: 92px;
}

@media screen and ( max-width: 320px) {
  .introduction__paragraph-brief {
    max-width: 288px;
  }

}
