.visit__image {
  width: 1184px;
  height: 740px;
  z-index: 1;
}
@media screen and ( max-width: 768px) {
  .visit__image{
    width: 768px;
    height: 746px;
  }

  }

  @media screen and ( max-width: 320px) {
    .visit__image {
    max-width: 320px;
    max-height: 254px;
      }
  }
