.visit__image {
  max-width: 1184px;
  max-height: 740px;
  z-index: 1;
}
@media screen and ( max-width: 768px) {
  .visit__image{
    max-width: 768px;
    max-height: 746px;
  }

  }

  @media screen and ( max-width: 320px) {
    .visit__image {
    max-width: 320px;
    max-height: 254px;
      }
  }
