.visit__title {
  max-width: 656px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 4.75rem;
  color: #FFFDFD;
  text-align: center;
}

@media screen and ( max-width: 320px) {
  .visit__title {
  max-width: 288px;
  font-size: 2rem;
  line-height: 2.187rem;
    }
}
