.visit__link {
  width: 151px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  padding: 13px 20px;
  background-color: #0278FE;
  /* identical to box height */
  color: #FFFFFF;
  margin: 0;
  text-decoration: none;
  }

  .visit__link:hover {
background: #0063D2;;
border-radius: 4px;
  }
