.visit__link {
  max-width: 191px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.375rem;
  padding: 13px 20px;
  background-color: #0278FE;
  color: #FFFFFF;
  text-decoration: none;
  }

.visit__link:hover {
background: #0063D2;
border-radius: 4px;
  }
