.visit__paragraph {
  width: 280px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  margin: 32px 0;
  }

  @media screen and ( max-width: 320px) {
    .visit__paragraph {
    width: 288px;
    font-size: 14px;
    line-height: 16px;
    margin: 16px 0;
      }
  }
