.city__heading-artist {
    max-width: 58px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 0.937rem;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    text-decoration: none;
    margin-bottom: 8px;
    }

    @media screen and ( max-width: 320px) {
      .city__heading-artist {
      max-width: 288px;
      }
    }
