.visit__overley {
  background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    z-index: 1;
}

@media screen and ( max-width: 768px) {
  .visit__overley{
    width: 768px;
    height: 746px;
  }
  }

  @media screen and ( max-width: 320px) {
    .visit__overley {
      width: 320px;
      }
  }
